MONGODB_USERNAME=mongodb-username
MONGODB_PASSWORD=mongodb-password
MONGODB_URL=mongodb-connection--string

JWT_SECRET=jwt-secret

CLOUDINARY_ENV=cloudinary-env-link

CLOUDINARY_NAME=cloudinary-cloud-name

CLOUDINARY_API_KEY=cloudinary-api-key

CLOUDINARY_API_SECRET=cloudinary-api-secret